body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#acronymList {
    list-style-type: none;
    padding: 0;
    overflow-y: scroll; /* 允许垂直滚动 */
}

#acronymList li {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

#acronymList li:last-child {
    border-bottom: none;
}

#acronymList li:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

#acronymList li strong {
    font-weight: bold;
    color: #007bff;
}

#acronymList li p {
    margin: 5px 0;
    color: #666;
}

#searchInput {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#alphabetBar {
    position: fixed;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#alphabetBar.visible {
    opacity: 1;
}

#alphabetBar a {
    display: block;
    padding: 2px;
    color: #333;
    text-decoration: none;
    font-size: 16px; /* 设置字体大小 */
}

#alphabetBar a.active {
    font-weight: bold;
    color: #007bff;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #searchInput {
        width: calc(100% - 20px);
        margin-bottom: 10px;
    }

    #acronymList li {
        padding: 10px;
    }
}

#backToTop {
    position: fixed;
    bottom: 20px; /* 距离底部20px */
    right: 20px; /* 距离右侧20px */
    background-color: #333; /* 背景颜色 */
    color: white; /* 文字颜色 */
    padding: 10px 15px; /* 内边距 */
    text-decoration: none; /* 去除下划线 */
    border-radius: 5px; /* 边框圆角 */
    display: none; /* 默认不显示 */
    z-index: 1000; /* 确保在页面其他元素之上 */
}

#backToTop:hover {
    background-color: #555; /* 鼠标悬浮时的背景颜色 */
}
